.br-main-cont-display {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.br-hd {
  font-size: 40px;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
}
.br-para {
  color: #453c3b;
  font-size: 20px;
  font-family: 'roboto';
}
.br-c-icon {
  font-size: 20px;
}
.Br-main-Cont {
  background-color: #e9eef5;
  padding-top: 15px;
  padding: 25px;
  padding-left: 15px;
}
.br-cont-1-details {
  display: flex;
  flex-direction: column;
}
.br-card-main-cont {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #e1dfe6;
  border-bottom-color: solid 5px #31047a;
  border-bottom: solid 3px #31047a;
  border-style: groove;
  justify-content: center;
  align-items: center;
}
.br-sec-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.br-cont-para {
  font-size: 15px;
  padding-left: 5px;
  font-family: 'roboto';
}
.all-cards-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.br-Btn-main-cont {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
.br-dwn-bttn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.br-btn1 {
  color: #ffffff;
  background-color: #31047a;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  border: 0px;
  cursor: pointer;
}
.br-ler-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #c70808;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #e6eaf0;
  height: 50px;
  width: 200px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding: 10px;
  margin: 10px;
}
.bc-sil-para {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  padding-top: 2px;
}
.bc-acca {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  border: solid 1px #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
  padding: 4px;
}
.br-mobile-view-model {
  display: none;
}
.br-cont-number {
  font-size: 15px;
  padding-left: 5px;
  font-family: 'roboto';
}
@media screen and (max-width: 768px) {
  .br-mobile-view-model {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .br-all-screen-view {
    display: none;
  }
  .br-hd {
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
    text-align: center;
  }
  .br-para {
    color: #453c3b;
    font-size: 17px;
    font-family: 'roboto';
    text-align: center;
  }
  .br-main-cont-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .all-cards-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .br-card-main-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
    height: 80px;
    width: 170px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #e1dfe6;
    border-bottom-color: solid 5px #31047a;
    border-bottom: solid 3px #31047a;
    border-style: groove;
    justify-content: center;
    align-items: center;
  }
  .br-cont-para {
    font-size: 12px;
    padding-left: 5px;
    font-family: 'roboto';
    font-weight: 500;
  }
  .br-cont-number {
    font-size: 12px;
    padding-left: 5px;
    font-family: 'roboto';
    font-weight: 500;
  }
  .br-main-cont-display {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
  }
  .br-Btn-main-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .br-btn1 {
    color: #ffffff;
    background-color: #31047a;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
    border: 0px;
    cursor: pointer;
    padding-left: 120px;
    padding-right: 120px;
  }
  .br-ler-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #c70808;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #e6eaf0;
    height: 50px;
    width: 200px;
    padding-top: 27px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;

    margin: 10px;
  }
  .bc-sil-para {
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    padding-top: 2px;
  }
  .bc-acca {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    border: solid 1px #ffffff;
    padding-top: 7x;
    padding-bottom: 7px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
  }
}
